{% extends "base.html" %}
{% block content %}
    <h1>Meus Times</h1>

    <ul>
    {% for time in times %}
        <li>
            {{ time.nome }}
            <form action="{{ url_for('remove_time', time_id=time.id) }}" method="POST" style="display:inline;">
            <button type="submit">Remover</button>
            </form>
        </li>
    {% endfor %}
    </ul>

    <a href="{{ url_for('add_time') }}">Adicionar novo time</a>
    <a href="{{ url_for('logout') }}"><button>Logout</button></a>


{% endblock content %}