<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>

    {% if user %}
        <h1>Seja bem-vindo de volta {{ user }}</h1>
        <a href="{{ url_for('logout') }}">Sair</a>
        <a href="{{ url_for('quiz') }}">Acesse o quiz</a>

    {% else %}
        <h1>Seja bem-vindo a nossa página!</h1>
        <a href="{{ url_for('login') }}">Login</a>

    {% endif %}

</body>
</html>