<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Respostas:</h1>
    <h3>1. Qual a diferença entre os métodos GET e POST em formulários HTML?</h3>
    <p>GET: Parâmetros passados no cabeçalho da requisição. São usados para solicitar dados ao servidor ou de um recurso.<br>
    POST: Envia informações para o corpo da requisição (o servidor), é mais utilizado em formulários.</p>

    <h3>2. Como o Flask diferencia o tratamento de requisições GET e POST em uma rota?</h3>
    <p>O método é definido pela aplicação quando se cria uma rota. Caso for POST, é para enviar informações, e caso for GET, é para puxar informações.</p>

    <h3>3. O que é o objeto request no Flask e para que serve?</h3>
    <p>Para pegar os dados enviados pelo usuário</p>


</body>
</html>