{% extends "base.html" %}

{% block head %}
    {{ super() }}
    {% block title %}
    Homepage
    {% endblock title %}

{% endblock head %}

{% block content %}

    <h1>Bem-vindo!</h1>
    <p>Esse site serve para que você possa adicionar personagens de jogos e depois visualizar o que você adicionou!</p>

    <a href="{{ url_for('novopersonagem') }}"><button>Adicione um personagem</button></a>
    <a href="{{ url_for('personagens') }}"><button>Veja os personagens adicionados</button></a>

{% endblock content %}