<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Dashboard</h1>
    <h2>Dados do usuário atual:</h2>
    <p>Nome: {{ nome }}</p>
    <p>Senha criptografada: {{ usuarios[nome] }}</p>

    <h2>Todos os usuários:</h2>
    <ul>
        {% for usuario, senha in usuarios.items() %}
        <li>{{ usuario }} : {{ senha }}</li>
        {% endfor %}
    </ul>


    <form action="{{ url_for('logout') }}" method="POST">
        <button>Sair</button>
    </form>


</body>
</html>