* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgb(205, 231, 253);
}

button {
    background-color: bisque;
}

header {
    background-color: blanchedalmond;
}

