{% extends 'base.html' %}
{% block title %}Adicionar Livro{% endblock %}
{% block content %}
<div class="card text-center">
  <h2 class="font-semibold text-lg mb-2">Adicione seu livro!</h2>
  <p class="text-muted">Aqui, você pode informar o título dolivro e seu autor para criá-lo.</p>
</div>

<form action="{{ url_for('books.adicionar_livro') }}" method="post" class="card mt-4">
  <div class="mb-4">
    <label for="titulo" class="block text-sm font-medium mb-1">Título do livro:</label>
    <input type="text" name="titulo" id="titulo" required class="w-full border border-gray-300 rounded px-3 py-2">
  </div>
  <div class="mb-4">
    <label for="autor" class="block text-sm font-medium mb-1">Autor do livro:</label>
    <input type="text" name="autor" id="autor" required class="w-full border border-gray-300 rounded px-3 py-2">
  </div>
  <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded">Adicionar Livro</button>
{% endblock %}