body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 800px;
}

button {
    margin-top: 10px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:5px;
}

.h2 {
    position: absolute;
    top: 250px;
}